/*Main Body*/
* {
    margin: 2px;
    padding: 2px;

}

html, body {
    height: 100%;
}

body {
    background: rgb(34, 193, 195);
    background-image: linear-gradient(to left bottom, #37609f, #30679e, #2f6e9b, #367396, #417892, #46849b, #4c8fa3, #549bab, #54b2c0, #54cad3, #57e2e3, #5ffbf1);
    font-family: "arial";
    color: rgba(23,110,107,0.89);
}

/*headings*/
#titleH1 {
    color: rgba(2, 10, 43, 0.82);
    font-style: unset;
    font-size: 50px;
    align-content: center;
    font-weight: lighter;
}

h3 {
    color: #00a698;

}

h1 {
    font-size: 130px;
    display: inline-block;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    font-family: Skia;
}
p {
    color: black;
}

/*main divs*/
#homepageDiv {
    margin: auto;
    width: 77%;
    height: 100vh;
    border-top: 1px;
    border-bottom: 1px;
}

#rightDiv {
    width: 200px;
    align-content: center;
    position: revert;
    background: #333634;
}
#main-content {
    visibility: visible;
    margin: auto;
    width: 60%;
    height: 100vh;
    background: linear-gradient(-70deg, #fa7c30 30%, rgba(0, 0, 0, 0) 30%), url('');    border-top: 1px;
    border-bottom: 1px;
}

#box-one-about {
    height: 300px;
    width: 200px;
    border-width: 10px;
    position: center;
}

#box-two-about {
    height: 300px;
    width: 200px;
    border-width: 40px;
    position: relative;
}

#products div {
    width: 100%;
    height: 80%;
    border-style: solid;
    position: center;
    align-items: baseline;
    min-height: max-content;
    color: #dddddd;

}

/*navigation area*/
nav {
    justify-content: space-around;
    min-height: 8vh;
    font-family: Arial;
    text-align: left;
    border-style: solid;
    border-width: 2px;
    background-color: #333333;
}

nav div {
    display: inline-block;
    margin-top: 15px;
    border-style: solid;
    border-width: 2px;
}

.logo {
    letter-spacing: 30px;
    font-size: 40px;
    float: left;
    color: black;
    border-style: none;
    font-weight: bolder;
}

.navLinks {
    background-color: rgba(8, 82, 89, 0.82);
    font-size: 10px;
    float: right;
    display: block;
    list-style-type: none;
    position:absolute;
    right:400px;
    top:1px;

}

.redirectButton {
    background-color:rgba(8, 82, 89, 0.82);

}

.navLinks li {
    list-style: none;
    color: #333333;
}

.navLinks a {
    text-decoration: none;
    letter-spacing: 3px;
}

.navLinks a:hover {
    background-color: pink;
    width: 40px;
    cursor: pointer;

}

.categoryTable {
    position: marker;
    border-style: solid;
}
/*dropdown products*/
.dropbtn {
    background-color: ghostwhite;
    color: white;
    padding: 5px;
    font-size: 10px;
    border: none;
    text-align: right;
}

.dropdown {
    display: inline-block;
    position:absolute;
    right:70px;
    top  :1px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/*products*/
.product {
    position: relative;
    width: 22.5%;
    display: inline-block;
}


.image {
    display: block;
    width: 75%;
    height: auto;
}

.middleProduct {
    height: 100px;
    position: relative;
    top: -100px;
    text-align: center;
    display: none;
}

.text {
    background-color: darkslategray;
    color: #333333;
    font-size: 16px;
    padding: 16px 32px;
}

.containerOne:hover .product {
    opacity: 0.7;
}

/* Footer */
.footer {
    text-align: center;
    background: #333634;
    width: 98%;
    height: 5%;
    border-style: solid;
    position: absolute;
}

@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}





